In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("DSBDALExam DataSets/Hepatitis/hepatitis_csv.csv")
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [3]:
male_subset = df[df['sex'] == 'male']
female_subset = df[df['sex'] == 'female']

In [7]:
merged_df = pd.merge(male_subset, female_subset,on='age')
merged_df

,age,sex_x,steroid_x,antivirals_x,fatigue_x,malaise_x,anorexia_x,liver_big_x,liver_firm_x,spleen_palpable_x,...,spiders_y,ascites_y,varices_y,bilirubin_y,alk_phosphate_y,sgot_y,albumin_y,protime_y,histology_y,class_y
0,30,male,False,False,False,False,False,False,False,False,...,False,False,False,1.0,NaN,120.0,3.9,NaN,False,live
1,30,male,False,False,False,False,False,False,False,False,...,False,False,False,2.2,57.0,144.0,4.9,78.0,False,live
2,30,male,False,False,False,False,False,False,False,False,...,False,False,False,0.7,50.0,78.0,4.2,74.0,False,live
3,30,male,False,False,False,False,False,False,False,False,...,False,False,False,0.7,52.0,38.0,3.9,52.0,False,live
4,30,male,False,False,False,False,False,False,False,False,...,False,False,False,0.7,100.0,31.0,4.0,100.0,False,live
5,30,male,False,False,False,False,False,False,False,False,...,True,True,True,2.5,165.0,64.0,2.8,NaN,True,die
6,30,male,False,False,False,False,False,False,False,False,...,True,False,False,0.8,147.0,128.0,3.9,100.0,True,live
7,22,male,True,True,True,False,False,True,False,False,...,False,False,False,0.7,NaN,24.0,NaN,NaN,True,live
8,25,male,False,True,False,False,False,True,False,False,...,False,False,False,0.6,NaN,34.0,6.4,NaN,True,live
9,25,male,False,True,False,False,False,True,False,False,...,True,True,True,1.3,181.0,181.0,4.5,57.0,True,live
10,58,male,True,False,True,False,False,True,True,False,...,True,False,False,2.0,167.0,242.0,3.3,NaN,False,die
11,41,male,True,True,True,True,True,True,False,False,...,False,False,False,0.9,81.0,60.0,3.9,52.0,False,live
12,41,male,True,True,True,True,True,True,False,False,...,True,False,True,4.2,65.0,120.0,3.4,NaN,True,die
13,20,male,False,False,True,True,True,False,True,True,...,True,True,False,1.0,160.0,118.0,2.9,23.0,True,live
14,20,male,False,False,True,True,True,False,True,True,...,False,False,False,0.9,89.0,152.0,4.0,NaN,True,live
15,28,male,True,False,True,True,False,True,True,False,...,False,False,False,0.7,74.0,110.0,4.4,NaN,False,live
16,28,male,True,False,True,True,False,True,True,False,...,False,False,False,0.7,85.0,31.0,4.9,NaN,False,live
17,28,male,True,False,True,True,False,True,True,False,...,False,False,False,1.6,44.0,123.0,4.0,46.0,False,live
18,28,male,True,False,True,True,False,True,True,False,...,True,True,False,1.0,NaN,20.0,4.0,NaN,True,live
19,45,male,False,False,True,True,False,True,False,True,...,False,False,False,2.3,NaN,648.0,NaN,NaN,True,live
20,45,male,False,False,True,True,False,True,False,True,...,False,False,False,1.2,81.0,65.0,3.0,NaN,False,live
21,45,male,False,False,True,True,False,True,False,True,...,False,False,False,1.3,85.0,44.0,4.2,85.0,True,live
22,45,male,False,False,True,True,False,True,False,True,...,True,True,False,1.9,NaN,114.0,2.4,NaN,True,die
23,34,male,False,True,False,False,False,True,True,False,...,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
24,34,male,False,True,False,False,False,True,True,False,...,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
25,34,male,False,True,False,False,False,True,True,False,...,False,False,False,NaN,NaN,86.0,NaN,NaN,False,live
26,34,male,False,True,False,False,False,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,live
27,34,male,False,True,False,False,False,True,True,False,...,True,False,False,2.8,127.0,182.0,NaN,NaN,False,die
28,34,male,False,True,False,False,False,True,True,False,...,True,False,False,1.0,72.0,46.0,4.4,57.0,False,live
29,62,male,True,False,True,True,False,True,True,False,...,False,False,False,1.0,NaN,60.0,NaN,NaN,False,die
30,50,male,False,False,True,False,False,False,True,True,...,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
31,50,male,False,False,True,False,False,False,True,True,...,False,False,False,1.5,100.0,100.0,5.3,NaN,False,live
32,50,male,False,False,True,False,False,False,True,True,...,False,False,False,1.0,139.0,81.0,3.9,62.0,True,live
33,50,male,False,False,True,False,False,False,True,True,...,True,False,False,1.0,85.0,75.0,4.0,72.0,True,live
34,50,male,False,False,True,False,False,False,True,True,...,False,True,True,2.8,155.0,75.0,2.4,32.0,True,die
35,34,male,True,False,True,True,True,False,True,False,...,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
36,34,male,True,False,True,True,True,False,True,False,...,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
37,34,male,True,False,True,True,True,False,True,False,...,False,False,False,NaN,NaN,86.0,NaN,NaN,False,live
38,34,male,True,False,True,True,True,False,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,live
39,34,male,True,False,True,True,True,False,True,False,...,True,False,False,2.8,127.0,182.0,NaN,NaN,False,die
40,34,male,True,False,True,True,True,False,True,False,...,True,False,False,1.0,72.0,46.0,4.4,57.0,False,live

In [8]:
sorted_df = df.sort_values(by=['age', 'sgot', 'protime'])
sorted_df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
110,7,female,True,False,False,False,False,True,True,True,False,False,False,0.7,256.0,25.0,4.2,NaN,True,live
37,20,male,False,False,True,True,True,False,True,True,True,False,False,2.3,150.0,68.0,3.9,NaN,False,live
121,20,female,False,False,True,True,True,True,False,False,True,True,False,1.0,160.0,118.0,2.9,23.0,True,live
148,20,female,False,False,False,False,False,True,NaN,False,False,False,False,0.9,89.0,152.0,4.0,NaN,True,live
20,22,male,True,True,True,False,False,True,False,False,False,False,False,0.9,48.0,20.0,4.2,64.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,67,male,False,False,True,True,False,True,False,NaN,NaN,NaN,NaN,1.5,179.0,69.0,2.9,NaN,False,live
115,69,male,True,False,True,False,False,True,False,False,False,False,False,3.2,119.0,136.0,NaN,NaN,True,live
147,70,female,False,False,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,1.7,109.0,528.0,2.8,35.0,True,die
133,72,female,True,True,True,False,False,True,True,False,False,False,False,1.0,115.0,52.0,3.4,50.0,True,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live

In [9]:
transposed_df = sorted_df.transpose()

In [8]:
melted_df = pd.melt(df, id_vars=['sex'], value_vars=['age', 'sgot', 'protime'])
melted_df

        sex variable  value
0      male      age   30.0
1    female      age   50.0
2    female      age   78.0
3    female      age   31.0
4    female      age   34.0
..      ...      ...    ...
460  female  protime   50.0
461  female  protime    NaN
462  female  protime    NaN
463    male  protime   48.0
464  female  protime   42.0

[465 rows x 3 columns]

In [9]:
wide_df = melted_df.pivot_table(index='sex', columns='variable', values='value', aggfunc='mean')
wide_df

variable        age    protime       sgot
sex
female    41.165468  61.948052  86.437037
male      41.500000  61.181818  81.312500